.hakkimda
{
 color: #000;
 background-color: antiquewhite;
 text-align: left;
 border: 1px solid black;
 margin-top:50px;
 margin-right: 100px;
 margin-bottom:50px;
 margin-left:100px;
}
.slider
{
 background-color: antiquewhite;
 border: 1px solid black;
 margin-right:100px;;
 margin-left:100px;
}
.sporcenter
{
 margin-right: 100px;;
 margin-bottom:20px;
 margin-left:100px;
}
.footer
{   position:fixed;
    bottom: 0px;
    height: 20px;
    text-align: center;
    background-color: #E39DFA;
    color: black;
    width:100%;
    
}
.cv
{   margin-top:50px;
    margin-left:100px;
    margin-right: 100px;
    text-align: center;
}

.iconboyut
{
 width:25px;
 height:25px;
}
.headeralign{
    text-align:center
}
.textresponsive{
    font-size:80%;
    margin-left:50px;
    margin-right:50px;
    text-align:center;
}

.carousel-item img {
    width: 90%; 
    max-height: 600px; 
    object-fit: cover; 
    margin-left: 100px; 
    margin-right: 100px; 
   
}
.welcomeText{
    font-size:2em;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  